.coffee-machine {
	border: 2px solid black;
	margin-top: 75px;
}
.coffee-list {
	background-image: url("img/background.jpg");
	background-size: cover;
}

.coffee-item {
	background: rgba(0, 0, 0, 0.7);
	margin: 15px 0;
	border-radius: calc(75px / 2);
	cursor: pointer;
}

.coffee-item:hover {
	background: rgba(50, 50, 50, 0.7);
}

.coffee-item img {
	width: 75px;
	height: 75px;
	background: grey;
	border-radius: 50%;
}

.coffee-item span {
	color: #FABF88;
	margin-left: 15px;
	font-family: 'Lobster', cursive;;
	font-size: 30px;
}


.display {
	background: #FABF88;
	border: 5px solid #380410;
	padding: 15px;
	border-radius: 10px;
}

.display-text {
	color: #380410;
	font-family: 'Marck Script', cursive;
	font-size: 30px;
	text-align: center;
	/*padding: 0; */
}

.atm img {
	width: 100%;

}
.coffee-cup img {
	width: 100%;
	opacity: 0%;
}
.btn {
  	background: #4F011E;
  	border-color: #380410;
  	border-radius: 10px;
  	font-size: 22px;
  	font-family: 'Ruslan Display', cursive;
  }

.change-box {
	border: 2px solid black;
	background: darkgrey;
	height: 100px;
}

.coffee-oper {
	background: #856464;
}

.bills {
	margin-left: 10%;
	padding-top: 10px;
}

.bills img {
	width: 20%;
	margin-left: 10px;
}


